{% extends 'base.html.twig' %}

{% block body %}

    <title> Login - PoisonPanel</title>
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row" style="height: 63%;">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>
                                        {{ branding.panelName }}
                                    </h1>
                                </div>
                                <p>Welcome {{ currentUser.name }}<br>
                                    <!-- Please do not remove this unless you support us at https://servers4all.co.uk. It is part of the license conditions. Thank you for understanding :)-->
                                    <small>Since you have two factor authentication enabled you now need to verify your code before using the panel. If you are having issues please contact the support team</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">

                                {% if error is defined %}

                                    {% if error != '' %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                    {% endif %}

                                {% endif %}

                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
    </div>
    <!-- Javascript files-->
{% endblock %}