{% extends 'userBundle/base.full.html.twig' %}

{% block body %}

<div class="uk-card uk-card-body uk-card-primary uk-card-" style="margin:40px">

    <div class="uk-card-content">
        <div class="uk-card-header">
            <h3>Action Log</h3>
            <hr>
        </div>
        <div class="uk-child-width-1-4@m" uk-grid style="margin-left:  31px;">

        </div>

        <div class="uk-child-width-1-2@m" uk-grid style="margin-left:  34px;">

            <table class="uk-table uk-table-justify uk-table-divider" style="width: 100%;">
                <thead>
                <tr>
                    <th class="uk-width-small">Action ID</th>
                    <th>Action</th>
                    <th>Who Did it</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for action in actions %}
                <tr>
                    <td>{{ action.id }}</td>
                    <td>{{ action.action }}</td>
                    <td>{{ action.user }}</td>
                    <td><a href="{{ path('ActionsDelete' , { 'id': action.id}) }}" class="uk-button uk-button-default">Delete</a></td>


                </tr>
                    {% endfor %}
                </tbody>


            </table>


        </div>
        <div class="uk-width-1-1">
            <div class='button-bar'>
                <a href="{{ path('ActionsPage') }}" class='button prev'>First Page</a>&nbsp;&nbsp;&nbsp;&nbsp
                <a href='{{ pagination.lastlink }}' class='button prev'>Previous</a>
                <a href='{{ pagination.nextlink }}' class='button next'>Next</a>
            </div>
        </div>

        <div class="uk-card-footer">
            <hr>
            No service issues. Everything running.
        </div>

    </div>

</div>
{% endblock %}


