{% extends '/settings/general/user/user.general.settings.base.html.twig' %}


{% block tabcontent %}


    <form action = '' method = 'POST' >


        <div class="row">
            <div class="col-md-12">
                <p>Panel name settings</p>
                <hr>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-3" >
                <div class="form-group" >
                <label >Panel Name</label >
                <input type="text" name="PanelName" required class="form-control" placeholder="SIMPANEL" value = "{{ branding.panelName }}" >
            </div >
        </div >
        <div class="col-md-4" >
            <div class="form-group" >
                <label > Header Name Part 1 (Coloured Part)</label >
                <input type="text" required class="form-control" placeholder="SIM" name='PanelNamePart1' value="{{ branding.panelNamePart1 }}" >
            </div >

        </div >
        <div class="col-md-4" >
            <div class="form-group" >
                <label > Header Name Part 2 (Un-Coloured Part)</label >
                <input type = "text" required class="form-control" placeholder="PANEL" name='PanelNamePart2' value="{{ branding.PanelNamePart2 }}" >
            </div >
        </div >

        </div >
        {#New Row#}
        <div class="row">
            <div class="col-md-4" >
                <div class="form-group" >
                    <label >Panel Name Shorthand 1</label >
                    <input type="text" required id="name" class="form-control" placeholder="S" name='PanelNameShortPart1' value="{{ branding.PanelNameShortPart1 }}" >
                </div >
            </div >
            <div class="col-md-4" >
                <div class="form-group" >
                    <label >Panel Name Shorthand 2</label >
                    <input type = "text" required  class="form-control" placeholder="P" name='PanelNameShortPart2' value="{{ branding.PanelNameShortPart2 }}" >
                </div >

            </div >
        </div>
        <div class="row">
            <div class="col-md-12">
                <label >Terms And Conditions</label >
                <textarea name="TermsAndConditions" class="form-control" id="" cols="30" rows="10">{{ branding.termsandconditions }}</textarea>
            </div>
        </div>

        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update Branding Settings </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}