{% extends 'admin.base.html.twig' %}


{% block body %}
    <div class="container-fluid">
    {% if success is defined %}
        {% if success != '' %}
        <div class="alert alert-success">{{ success }}</div>
        {% endif %}
    {% endif %}

    {% if error is defined %}
        {% if error != '' %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="title"><strong class="d-block">Viewing profile for</strong><span class="d-block">{{ user.firstname }} {{ user.lastname }}</span>
                </div>
                <div class="block-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Sub User?</label>
                        <div class="col-sm-3">
                            <input id="inputHorizontalWarning" value="{% if user.subUser == 1 %} Yes {% else %} No {% endif %}" type="text"
                                   placeholder="" readonly class="form-control form-control-warning">
                            <small class="form-text"></small>
                        </div>
                        <br>
                        <label class="col-sm-3 form-control-label">Sub user for user with id: {% if user.subUser == 1 %} <a href="/admin/users/{{ user.subUserFor }}"> {{ user.subUserFor }} </a> {% else %} NA {% endif %}</label>
                        <div class="col-sm-3">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}