{% extends 'admin.base.html.twig' %}

{% block body %}
<div class="container-fluid">
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="title"><strong class="d-block"></strong><span class="d-block"></span></div>
                <div class="block-body">

                    <div id="exTab3" class="container">
                        <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-link {% if tab == 'General'  %}active{% endif %}"><a  href="/settings/server/templates/defaults/g/{{ serverId }}/general">General Settings</a></li>
                        <li class="nav-link {% if tab == 'Advanced'  %}active{% endif %}"><a  href="/settings/server/templates/defaults/g/{{ serverId }}/advanced">Advanced Settings</a></li>
                            <li class='nav-link {% if tab == 'Startup'  %}active{% endif %}'><a href = '/settings/server/templates/defaults/g/{{ serverId }}/startup' > Startup Settings</a ></li>
                        </ul>
                            <div class="tab-content clearfix" >
                                <div class="tab-panel active" id="1b" >
                                    {% block tabcontent %}{% endblock %}
                                    <br>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

        #exTab1 .tab-content {
            color : white;
            background-color: #2d2f30;
            padding : 5px 15px;
            border: 1px solid white;
        }

        #exTab2 h3 {
            color : white;
            background-color: #428bca;
            padding : 5px 15px;
        }

        /* remove border radius for the tab */

        #exTab1 .nav-pills > li > a {
            border-radius: 0;
        }

        /* change border radius for the tab , apply corners on top*/

        #exTab3 .nav-pills > li > a {
            border-radius: 4px 4px 0 0 ;
        }

        #exTab3 .tab-content {
            color : white;
            background-color: #2d2f30;
            padding : 5px 15px;
            border: 1px solid white;
            border-radius: 5px;
        }


    </style>
    <hr>    {% endblock %}
