{% extends '/serverBundle/settings/server.default.settings.base.html.twig' %}

{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label style="color:white;"> Editing config for {{ template.templateName }}</label>
                    <br>
                </div >
            </div >
        </div>
        <div class="row">
        <div class="col-md-3" >
                <div class="form-group" >
                    <label>Template ID</label >
                    <input type="text" class="form-control" readonly   value = "{{ template.id }}" >
                </div >
            </div >
            <div class="col-md-3" >
                <div class="form-group" >
                    <label > Template Name</label >
                    <input type = "text" readonly required class="form-control" name='TemplateName' value={{ template.templateName }} >
                </div >
            </div >
            <div class="col-md-6" >
                <div class="form-group" >
                    <label for="exampleInputEmail1" > Steam Name & Progress </label >
                    <input type = "SteamNameProgress" readonly required class="form-control" placeholder="Email" name='email' value="{{ template.steamName }} - {{ template.status }}" >
                </div >
            </div >

        </div >

        <div class="row" >
            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Default Server Name </label >
                    <input type = "text" required class="form-control" placeholder="e.g Joes Minecraft Server" name='defaultName' value="{{ cfg.defaultServername }}">
                    <small>Possible Replacements:
                        <ul>
                            <li>
                                { user.name } - The user who owns the servers name
                            </li>
                            <li>
                                { user.id } - The id of the user who owns the server
                            </li>
                            <li>
                                { template.name } - The name of the server template
                            </li>
                        </ul>
                    </small>
                </div >
            </div >

            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Game name </label >
                    <input type = "text" required class="form-control" placeholder="e.g CS:GO" name='nameOfGame' value="{{ cfg.gameName }}" >
                </div >
            </div >

        </div>





        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update defaults </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}