<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Powered By" content="SimPanel">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <meta name="description" content="Simple Game Server Administration Panel. Designed by server admins for server admins.">
        <meta name="Developers" content="Servers4All">
        <meta name="keywords" content="Control,GamePanel,Servers">
        <title>Servers4All Panel</title>
        <!-- Font Awesome CSS-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

        <!-- UI Kit CSS -->
        <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}">

        <!-- Google fonts - Muli-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">

        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{{ asset('css/button-pagination.css') }}">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

        {% block stylesheets %}{% endblock %}

    </head>
    <body>

    {#<div class="uk-offcanvas-content" >#}


        <div id="TACToggl" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <h1>Terms and conditions</h1>
                <p>{{ site.termsandconditions }}</p>


                <button class="uk-offcanvas-close" type="button" uk-close></button>

            </div>
        </div>

    {#</div>#}
    {% block navbar %}{% endblock %}


    {% block body %}{% endblock %}
    <footer>
        <div class="uk-card  uk-card-default ">
            <div class="uk-card-body" style="text-align: center">
            <span>2017 &copy; SimPanel. Developed by Will Rich &nbsp- Version: 0.20 &nbsp; <a href="#TACToggl" uk-toggle>Terms And Conditions</a></span>
            </div>
        </div>
    </footer>
        <!-- Javascript files-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ asset('js/uikit.min.js') }}"></script>
        <script src="{{ asset('js/uikit-icons.min.js') }}"></script>
        <script src=""></script>
        <script src="{{ asset('vendor/jquery.cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('js/front.js') }}"></script>
        <!-- Latest compiled and minified JavaScript -->

    {% block javascripts %}{% endblock %}

    </body></html>
