{% extends 'userBundle/base.full.html.twig' %}


{% block stylesheets %}
<style>
    .offline
    {
        background: #f00;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }
    .online
    {
        background: lawngreen;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }

</style>


{% endblock %}



{% block body %}

<div class="uk-card uk-card-body uk-card-primary uk-card-" style="margin:40px">

    <div class="uk-card-content">
        <div class="uk-card-header">
            <h3>Viewing Sub user with ID: {{ subUser.id }}</h3>
            <hr>
        </div>
        {%  if error is defined %}
            <div uk-alert class="uk-alert-error">
                {{ error }}
            </div>
        {% endif %}
        {%  if success is defined %}
            <div uk-alert class="uk-alert-success">
                {{ success }}
            </div>
        {% endif %}
        <form action="" method="post">
            <div uk-grid>
                <div class="uk-width-1-1">

                </div>
                <div class="uk-width-1-1">
                    <label for="">Creating a sub user. &nbsp;</label>

                </div>

                <div class="uk-width-1-2">
                    <label for="firstName">First Name</label>
                    <input type="text" class="uk-input"  value="{{ subUser.firstName }}" id="firstName" name="userFirstName">
                </div>


                <div class="uk-width-1-2">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="uk-input" id="lastName"  value="{{ subUser.lastName }}" name="userLastName">
                </div>

                <div class="uk-width-1-2">
                    <label for="userEmail">Email</label>
                    <input type="text" class="uk-input" id="userEmail"  value="{{ subUser.email }}" name="userEmail">
                </div>

                <div class="uk-width-1-2">
                    <label for="userUsername">Username</label>
                    <input type="text" class="uk-input" id="userUsername"  value="{{ subUser.username }}" readonly name="userUsername">
                </div>
                <hr style="width: 100%">
                <div class="uk-width-1-1">
                    <h4>Users Roles</h4>
                    <br>
                    <label for="userCanViewRole"> User can view servers</label>
                    <input type="checkbox" class="uk-checkbox" id="userCanViewRole" {% if subUser.subUserPermissions.USER_VIEW_SERVER == 1 %} checked {% endif %} name="userCanViewRole">
                    <br>
                    <label for="userCanViewRole"> User can edit servers</label>
                    <input type="checkbox" class="uk-checkbox" {% if subUser.subUserPermissions.USER_EDIT_SERVER == 1 %} checked {% endif %} id="userCanEditRole" name="userCanEditRole">
                    <br>
                    <label for="userCanViewRole"> User can manage my servers</label>
                    <input type="checkbox" class="uk-checkbox" {% if subUser.subUserPermissions.USER_MANAGE_SERVER == 1 %} checked {% endif %} id="userCanManageRole" name="userCanManageRole">
                </div>
                <div class="uk-width-1-1">

                    <button class="uk-button uk-button-default uk-margin-small-right" type="submit">Create</button>
                </form>
                    <a id="deleteUser" class="uk-button uk-button-danger uk-margin-small-right">Delete User</a>
                </div>

            </div>



        </div>
        <div class="uk-card-footer">
            <hr>
            No service issues. Everything running.
        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
    $('#deleteUser').click(function () {
        $.ajax({
            type: 'POST',
            url: '/user/subusers/{{ subUser.id }}/delete',
            success: function (data) {
                alert("Success");
                window.location.href = '{{ path('SubUserList') }}';
            }
        });

    });
</script>
{% endblock %}