{% extends '/profiles/admin/profile.admin.base.html.twig' %}


{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="row" >
            <div class="col-md-3" >
                <div class="form-group" >
                <label>ID</label >
                <input type="text" class="form-control" readonly   value = "{{ currentUser.id }}" >
            </div >
        </div >
        <div class="col-md-3" >
            <div class="form-group" >
                <label > Username</label >
                <input type = "text" required class="form-control" placeholder="Username" name='Userusername' value={{ currentUser.username }} >
            </div >
        </div >
        <div class="col-md-6" >
            <div class="form-group" >
                <label for="exampleInputEmail1" > Email address </label >
                <input type = "email"  required class="form-control" placeholder="Email" name='email' value="{{ currentUser.email }}" >
            </div >
        </div >

        </div >

        <div class="row" >
            <div class="col-md-6" >
            <div class="form-group" >
                <label > First Name </label >
                <input type = "text" required class="form-control" placeholder = "Company" name = 'first_name' value = "{{ currentUser.firstName }} " >
            </div >
            </div >

            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Last Name </label >
                    <input type = "text" required class="form-control" placeholder = "Company" name='last_name' value = "{{ currentUser.lastName }} " >
                </div >
        </div >
        </div>




        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update Profile </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}