{% extends 'admin.base.html.twig' %}


{% block body %}

        <div class="col-lg-10">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <div class="block">
                <div class="title"><strong class="d-block">Create A Game Server Template</strong><span class="d-block">Making a new Game Server Template</span>
                </div>
                <div class="block-body">
                    <form class="form-horizontal" method='post' action=''>
                        <div class="form-group row
                        ">
                        <label class="col-sm-3 form-control-label">Template Name</label>
                        <div class="col-sm-9">
                            <input id="inputHorizontalSuccess" type="text" name='name' placeholder="" required
                                   class="form-control form-control-success">
                            <small class="form-text"></small>
                        </div>
                </div>
            <div class="form-group row">
            <label class="col-sm-3 form-control-label">Server To Create on</label>
            <div class="col-sm-9">
                <select required style="width:100%" name="networkSelect" class="custom-select" data-live-search="true">
                    {% for networkServer in networkServers%}
                        <option value="{{ networkServer.id }}">{{ networkServer.name }} ({{ networkServer.ip }}) -- {{ networkServer.connectionStatus }}</option>
                    {% endfor %}
                </select>


                <small class="form-text"></small>
            </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-3 form-control-label">Server CMD ID</label>
        <div class="col-sm-9">
            <input id="inputHorizontalWarning" type="text" name='steamCmdId' placeholder="" required class="form-control
                   form-control-warning">
            <small class="form-text"></small>
        </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-3 form-control-label">Template Description</label>
    <div class="col-sm-9">
        <textarea rows="5" class="form-control" name='template_description'  value=""></textarea>                        </div>
    </div>
    </div>

    <div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
    <input type="submit" value="Save Template Basic Settings" class="btn btn-primary">
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <hr>
{% endblock %}