{% extends 'admin.base.html.twig' %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% if success %}
                <div class="alert alert-success">{{ success }}</div>
            {% endif %}

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Search Server Templates</strong><span class="d-block">Search for Server templates</span></div>
                    <div class="block-body">
                        <form class="form-horizontal" method='get' action=''>
                            <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Name</label>
                            <div class="col-sm-9">
                                <input id="inputHorizontalSuccess" type="text" name='name' placeholder="Name" class="form-control form-control-success"><small class="form-text"></small>
                            </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-3 form-control-label">ID</label>
                    <div class="col-sm-9">
                        <input id="inputHorizontalWarning" type="text" name='id' placeholder="ID" class="form-control form-control-warning"><small class="form-text"></small>
                    </div>
                </div>
                <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    <hr>
    <div class="col-lg-12">
        <div class="block">
            <div class="content table-responsive table-full-width">
            <table style='color: white' class="table table-striped table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Steam Game ID</th>
                <th>Build Status</th>
                <th>Size</th>
                <th>Edit</th>
            </thead>
            <tbody>
            {% for template in templates %}
            <tr>
                    <th scope="row">{{ template.id|e }}</th>
                    <th>{{ template.templateName|e }}</th>
                    <th>{{ template.steamName|e }}</th>
                    <th>{{ template.status|e }} {% if template.status == "Steam Installing" %} Steam Install Percent - %{{ template.steamPercentage }} {% endif %}</th>
                    <th>{{ template.size|e }}</th>
                    <th><a href='./template/{{ template.id|e }}'>Edit</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
    </div>
    </div>
    <hr>

    {#<div class='button-bar'>#}
        {#<a href="{{ path('ServerTemplateList') }}" class='button prev'>First Page</a>&nbsp;&nbsp;&nbsp;&nbsp#}
        {#<a href='{{ pages.lastlink }}' class='button prev'>Previous</a>#}
        {#<a href='{{ pages.nextlink }}' class='button next'>Next</a>#}
    {#</div>#}
            {% endblock %}
        {% block javascripts %}

        <script type="text/javascript">

          $('.deactivate').click(function(){
            return confirm('Deactivating will mean this user will no longer be able to access the panel');
          });

          $('.activate').click(function(){
            return confirm('Activating this user will allow them to access the panel again');
          });

        </script>
        {% endblock %}