{% extends 'admin.base.html.twig' %}


{% block body %}
<div class="container-fluid">
    {% if success is defined %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}

    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="title"><strong class="d-block">Editing Server: {{ server.id }} - {{ server.serverName }}</strong><span class="d-block"></span>
                </div>
                <div class="block-body">
                    <form class="form-horizontal" method='post' action=''>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Actions</label>
                            <div class="col-sm-9">
                                <button  value="Restart/Start Server" id="restartStartServer" class="btn btn-primary" type="button">Restart/Start Server</button>
                                <button  value="Restart/Start Server"  class="btn btn-primary" id="stopServer" type="button">Stop Server</button>
                                <button  value="Restart/Start Server"  class="btn btn-primary" type="button">Reinstall Server</button>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">About Server</label>
                            <div class="col-sm-9">
                                <p> Server Status: {{ server.status }} &nbsp; Players Online 0/{{ server.playerSlots }} &nbsp; Server Usage:  TBI</p>
                            </div>
                        </div>

                        <hr>
                        <div class="title"><strong class="d-block">Server Details</strong><span class="d-block"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Server Name</label>
                            <div class="col-sm-4">
                                <input id="inputHorizontalSuccess" value="{{ server.serverName }}" type="text"
                                       name='serverName' placeholder="" required
                                       class="form-control form-control-success">
                                <small class="form-text"></small>
                            </div>
                            <label class="col-sm-1 form-control-label">Game Name</label>
                            <div class="col-sm-4">
                                <input id="inputHorizontalSuccess" value="{{ server.gameName }}" type="text"
                                       name='gameName' placeholder="" required
                                       class="form-control form-control-success">
                                <small class="form-text"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Full IP</label>
                            <div class="col-sm-9">
                                <p> {{ server.ip }}:{{ server.port }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Server IP</label>
                            <div class="col-sm-4">
                                <input id="inputHorizontalSuccess" value="{{ server.ip }}" type="text"
                                       name='serverIp' readonly placeholder="" required
                                       class="form-control form-control-success">
                                <small class="form-text"></small>
                            </div>
                            <label class="col-sm-1 form-control-label">Server Port</label>
                            <div class="col-sm-4">
                                <input id="inputHorizontalSuccess" value="{{ server.port }}" type="text"
                                       name='serverPort' placeholder="" required
                                       class="form-control form-control-success">
                                <small class="form-text"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Start Command </label>
                            <div class="col-sm-9">
                                <textarea required class="form-control" name="startCommand" id="" cols="30" rows="10">{{ server.startupCommand }}</textarea>
                                <small>Possible Replacements:
                                    <ul>
                                        <li>
                                            {steam.name} - The steam name of the game being updated eg (340)
                                        </li>
                                        <li>
                                            {server.ip} - The Servers Ip
                                        <li>
                                            {server.port} - The Servers Port
                                        </li>

                                    </ul>
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Update Command </label>
                            <div class="col-sm-9">
                                <textarea required class="form-control" name="updateCommand" id="" cols="30" rows="10">{{ server.updateCommand }}</textarea>
                                <small>Possible Replacements:
                                    <ul>
                                        <li>
                                            {steam.name} - The steam name of the game being updated eg (340)
                                        </li>
                                        <li>
                                            {server.ip} - The Servers Ip
                                        <li>
                                            {server.port} - The Servers Port
                                        </li>

                                    </ul>
                                </small>
                            </div>
                        </div>
                        <hr>
                        <div class="title"><strong class="d-block">Owner Details</strong><span class="d-block"></span>
                        </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Owner First Name</label>
                                <div class="col-sm-4">
                                    <input id="inputHorizontalSuccess" value="{{ owner.firstName }}" type="text"
                                           name='ownerFirstName' readonly placeholder="" required
                                           class="form-control form-control-success">
                                    <small class="form-text"></small>
                                </div>
                                <label class="col-sm-1 form-control-label">Owner Last Name</label>
                                <div class="col-sm-4">
                                    <input id="inputHorizontalSuccess" value="{{ owner.lastName }}" type="text"
                                           name='ownerLastName' placeholder="" required readonly
                                           class="form-control form-control-success">
                                    <small class="form-text"></small>
                                </div>
                            </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">Actions</label>
                            <div class="col-sm-9">
                                <a href="/admin/users/{{ owner.id }}"><button  value="Restart/Start Server"  class="btn btn-primary" type="button">Edit User</button></a>

                            </div>
                        </div>

                        <hr>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <br>
                                <input type="submit" value="Update Server" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <hr>
        {% endblock %}

    {% block javascripts %}

    <script >
     $('#restartStartServer').click(function () {
      $.ajax({
        type: 'POST',
        data: {"do" : "start"},
        url: "/admin/servers/g/{{ server.id }}/power",
        success: function (data) {
          alert("Attemping Server Start");
          location.reload();
        }
      });
    });

     $('#stopServer').click(function () {
      $.ajax({
        type: 'POST',
        data: {"do" : "stop"},
        url: "/admin/servers/g/{{ server.id }}/power",
        success: function (data) {
          alert("Stopping Server");
          location.reload();
        }
      });
    });
</script>
    {% endblock %}